$pr-color: #fff;
$second-color: #0a0a0a;
$fz-big: 60px;
$pd: 50px;

* {
  box-sizing: border-box;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}