@use '@styles/variables' as vars;

.topBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  width: 100%;
  padding: 0 150px;
  box-sizing: border-box;
  background-color: vars.$card-bg-color;
}

.left {
  display: flex;
  flex-direction: row;
}

.right {
    display: flex;
    flex-direction: row;
}

.profile {
  img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
}

.logo {
  display: flex;
  align-items: center;

  img {
    width: 24px;
    height: 24px;
  }
}